<div class="main-container">
	<div class="container-fluid">
		<div class="ml-header">
			<div class="ml-header-inner">
				<ul id="profile-nav" class="nav navbar-nav">
					<%if @user %>
						<li class="padding-sides">
							<%if @user.image %>
							<img src="<%=@user.image%>" class="img-circle avatar" alt="">
							<%else%>
							<img src="../assets/user.png" class="img-circle avatar" alt="">
							<%end%>
						</li>
						<li class="dropdown">
							<a id="dLabel2" data-toggle="dropdown" aria-haspopup="true" class="label label-info" aria-expanded="false"><span><%=@user.name%></span></a>
							<div class="dropdown-menu" aria-labelledby="dLabel2">
								<div class="form-group">
									<a class="btn btn-danger" href="/signout">Cerrar Sesión</a>	
								</div>
								<div class="form-group">
									<a class="btn btn-danger" href="/signout">Cerrar Sesión</a>	
								</div>					
							</div>
						</li>
					<%end%>
				</ul>
				<%= form_tag("/search", method: "get", :class => "navbar-form navbar-left") do %>
					<div class="form-group">
			          <input name="service[search]"type="text" style="width:200px" class="form-control" placeholder="¿Que servicio necesitas?">
			        </div>
			        <button type="submit" class="btn btn-info">Buscar</button>
				<%end%>
			</div>
		</div>
		<div id="main" class="padding-top-100">
			<div class="explore">
				<div class="explore-header">
					<h1>!Encuentra lo que buscas!</h1>
					<h5>Hay miles de servicios, las mejores personas y los precios más bajos.</h5>
				</div>
				<div id="categories" class="explore-content">
					<section class="responsive-bg no-gradient" id="top-categories">
  						<div class="container-fluid">
    						<h2>Top Categories</h2>
    						<hr/>
	    						<div class="row">
	      							<% @category = Category.all %>
									<% @category.each do |x| %>
									<div class="col-md-3 col-sm-4 col-xs-12">
											<a href="/categories/<%=x.id%>" class="tag-cloud teal">
												<!-- <img alt="Mini-icon_handyman" class="mini-icon" height="17" src="/assets/handyman.png" width="17" /> -->
												<%= x.name %>
											</a>
									</div>
									<%end%>
	    						</div>
    						<hr/>
  						</div>
					</section>
				</div>
				<div class="explore-footer">
					<%if @services1 %>
						<% @services1.each do |x| %>
							<div class="col-md-3 col-sm-4 col-xs-12">
									<div class="col-md-4 col-sm-6 col-xs-12">
										<h3>Nombre: <small><%= x.name %></small></h3>
										<h3>Descripción: <small><%= x.description %></small></h3>
										<h3>Precio: <small><%= x.price %></small></h3>
										<h3>Empresa: <small><%= x.company %></small></h3>
										<h3>Categoría: <small><%= x.category_id %></small></h3>
										<br>
									</div>
							</div>
						<%end%>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>
