<div class="container">
	<h1><%= @category.name %></h1>
	<h1><%= @category.description %></h1>

	<table data-toggle="table" data-sort-name="name" data-sort-order="desc" data-show-columns="true" data-search="true" data-show-refresh="true" data-show-toggle="true" data-show-export="true" data-pagination="true" data-height="299">
	    <thead>
		    <tr>
		        <th data-field="name">Nombre</th>
		        <th data-field="description">Descripción</th>
		        <th data-field="price" data-sortable="true">Precio</th>
		        <th data-field="company" data-sortable="true">Empresa</th>
		    </tr>
	    </thead>
	    <tbody>
	    		<%if @services_category %>
					<% @services_category.each do |x| %>
						<tr>
					        <td data-field="name"><%= x.name %></td>
					        <td data-field="description"><%= x.description %></td>
					        <td data-field="price"><%= x.price %></td>
					        <td data-field="company"><%= x.company %></td>
						</tr>
					<%end%>
				<%end%>
	    </tbody>
	</table>
</div>
