
	<div class="container">
				<div class="jumbotron">
					<h1>TELO<strong>TENGO</strong></h1>
					<p>
						agenda, cotiza, paga... todo desde tu celular.
						La aplicación para agendar servicios profesionales modernos
					</p>
						<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Únete</button>
						<!-- <button type="button" class="btn btn-success btn-lg" data-target="/pro">Ofrece servicios</button> -->
				</div>	
				<nav class="navbar navbar-default">
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <!-- <a class="navbar-brand" href="#">Menú</a> -->
				    </div>
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
				      <ul class="nav navbar-nav">
						<li class="dropdown">
							<a id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" class="btn btn-success" aria-expanded="false">
							Iniciar Sesión
							<span class="caret"></span>
							</a>
							<div class="dropdown-menu" aria-labelledby="dLabel">
							   	<%= form_tag("/users", method: "post", :class => "form-inline text-center") do %>
								  <div class="form-group">
								    <label class="sr-only" for="exampleInputEmail3">Email</label>
								    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" required>
								  </div>
								  <div class="form-group">
								    <label class="sr-only" for="exampleInputPassword3">Contraseña</label>
								    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" required>
								  </div>
								  <div class="checkbox">
								    <label>
								      <input type="checkbox"> Recuérdame
								    </label>
								  </div>
								  <button type="submit" class="btn btn-success">Inicia Sesión</button>
								<% end %>
						  	</div>
						</li>
						<li style="">
							<span>
							<a href="/auth/facebook" class="btn btn-social btn-facebook" style="width:100%;text-align:center">
						   	<i class="fa fa-facebook"></i>Inicia con Facebook
						    </a>								
							</span>

						</li>
						<li style="">
							<span>
							<a href="/auth/twitter" class="btn btn-social btn-twitter" style="width:100%;text-align:center">
						    <i class="fa fa-twitter">		
						    </i>Inicia con Twitter
						    </a>	
							</span>
						</li>
						<li>
							<a class="btn btn-danger navbar-right" href="/signout">Cerrar Sesión</a>
						</li>
				      </ul>
				    </div>
				  </div>
				</nav>				
	</div>

	

	<!-- Modal -->
	<div class="modal" id="myModal">
	    <div class="modal-dialog">
			<div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		          <h4 class="modal-title center">Únete</h4>
		        </div>
		        <div class="modal-body" style="width:75%; margin:0 auto">
		        	<%= form_tag("/users", method: "post", :class => "form-horizontal") do %>
			        	<div class="form-group">
							<div class="input-group margin-bottom-sm">
							<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
							<input class="form-control" type="text" name="user[name]" placeholder="Nombre" required>
							</div>	
							<div class="input-group margin-bottom-sm">
							<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
							<input class="form-control" type="email" name="user[email]" placeholder="Email" required>
							</div>
							<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
							<input class="form-control" name="user[password]" type="password" placeholder="Contraseña" required>
							</div>	
										  
						</div>
						<div class="text-center margin-vertical">
							<button type="submit" class="btn btn-primary">Enviar</button>
						</div>
							
						<div class="form-group">
							<a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
						    	<i class="fa fa-facebook"></i>Regístrate con Facebook
						    </a>
						   	<a href="/auth/twitter" class="btn btn-block btn-social btn-twitter">
						    	<i class="fa fa-twitter">
						    		
						    	</i>Regístrate con Twitter
						    </a>
						</div>   
						<!-- <button type="submit" class="btn btn-primary">Enviar</button>  -->
					<% end %>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		        </div>
	      	</div>
	    </div>
	</div>	
	<!-- Modal -->
	<div class="container">

	</div>


	

<div class="container text-center">

	<%if @user %>
		<img src="<%=@user.image%>" class="img-circle"alt="">
		<h1><%=@user.name%></h1>
		<h2><%=@user.email%></h2>
	<%end%>
	
</div>